@font-face {
  font-family: bruumFont;
  src: url(./../fonts/BruumFY-Light.otf);
}
@font-face {
  font-family: bruumBold;
  src: url(./../fonts/BruumFY-Bold.otf);
}
@font-face {
  font-family: bruumRegular;
  src: url(./../fonts/BruumFY-Regular.otf);
}
@font-face {
  font-family: mediumFont;
  src: url(./../fonts/NewJune-Medium.otf);
}
@font-face {
  font-family: boldFont;
  src: url(./../fonts/NewJune-Bold.otf);
}
@font-face {
  font-family: lightFont;
  src: url(./../fonts/NewJune-Light.otf);
}
@font-face {
  font-family: acuminMediumFont;
  src: url(./../fonts/Acumin\ Pro\ Medium.otf);
}
@font-face {
  font-family: bejanBold;
  src: url(./../fonts/Bahij_TheSansArabic-Bold.ttf);
}
@font-face {
  font-family: bejanSemiBold;
  src: url(./../fonts/Bahij_TheSansArabic-SemiBold.ttf);
}
.pofile{
  padding: 30px 0;
}
.pofile h3{
  font-family: bruumBold;
  border-left: 6px solid #1b75ba;
  padding-left: 13px;
  margin-bottom: 25px;
}
.pofile p{
  font-size: 18px;
  line-height: 26px;
  text-align: justify;
}
.pofile p a{
  color: #1b75ba;
  text-decoration: none;
}
.leader{
  padding: 30px 0;
}
.leader h3{
  font-family: bruumBold;
  margin-bottom: 5px;
}
.leader span{
  font-size: 18px;
}
.leader img{
  margin-top: 20px;
}
html[lang="ar"] nav li a{
  font-family: bejanSemiBold;
}
html[lang="ar"] header .right-part nav ul.lists li:not(:last-child)::after{
margin-right: 8px;
}
html[lang="ar"] header .right-part nav ul.lists li:last-child{
  margin-right: 8px;
}
* {
  font-family: bruumFont;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
}
/* start home sreen */

/* start navbar */

header .left-part {
  min-height: 120px;
}
header .left-part h3 {
  font-size: 18px;
  font-family: boldFont;
  line-height: 22px;
}
header .right-part {
  position: absolute;
  width: 75%;
  right: 0;
  top: 0;
  min-height: 120px;
}
header .right-part .nav1 {
  background-color: #f0f0f1;
  color: #fff;
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
}
header .right-part .nav2 ul li {
  font-weight: 600;
}
header .right-part .nav1 ul li,
header .right-part .nav2 ul li {
  font-size: 14px;
  position: relative;
  margin-left: 4px;
  cursor: pointer;
}
header .right-part .nav1 ul.lists li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  margin-left: 8px;
  height: 18px;
  bottom: 3px;
  background-color: #fff;
}
header .right-part .nav2 {
  background: #2256a1;
  padding: 15px 0px;
}
header .right-part .nav2 ul li a{
  color: #fff;
}
header .right-part .nav2 ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  margin-left: 8px;
  height: 18px;
  bottom: 3px;
  background-color: #fff;
}
/* end navbar */

.counter-top {
  background-color: #000;
  padding: 20px 30px;
}
.counter-top .btns {
  /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
  width: 100%;
}
.counter-top .btns button {
  font-family: bruumRegular;
  /* padding: 5px 20px; */
  width: 90%;
  font-size: 14px;
  color: #f1efef;
  border-radius: 0;
}
.counter-top .btns .btn-warning {
  background-color: #1b75ba;
  border-color: #1b75ba;
}
.counter-top p {
  font-family: bruumRegular;
  font-size: 1em;
  margin-bottom: 0;
  color: #fff;
}
.counter-top button.btn {
  font-family: bruumFont;
  font-size: 14px;
}

/* start banners */
.main-banner img {
  width: 100%;
}
header .right-part .nav1 ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
    font-weight: 700;
    line-height: 20px;
    padding: 15px 0 !important;
}
header .right-part .nav2 ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  font-style: normal;
    font-weight: 700;
    line-height: 20px;
    padding: 15px 0 !important;
}
/* start banner_1 */
.banner_1 {
  position: relative;
  background-image: url(./../images/bnner_9);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}
.banner_1 .banner-description {
  margin-top: 45%;
}
.banner_1 .banner-description h4 {
  color: #fff;
  font-size: 25px;
  font-family: mediumFont;
}
.banner_1 .banner-description h3 {
  color: #a87b22;
  font-size: 30px;
  font-family: boldFont;
}
.banner_1 .banner-description h5 {
  color: #fff;
  font-size: 16px;
  font-family: lightFont;
  margin: 10px 0;
}
.banner_1 .banner-description p {
  color: #fff;
  font-size: 15px;
  font-family: lightFont;
}
.banner_1 .banner-footer {
  position: absolute;
  bottom: 0;
  background-color: #009245;
  width: 100%;
  color: #fff;
  min-height: 60px;
  display: flex;
  align-items: center;
}
.banner_1 .banner-footer p {
  color: #fff;
  font-family: lightFont;
  transform: translateY(50%);
  font-size: 15px;
  line-height: 15px;
}
.banner_1 .banner-footer ul {
  display: flex;
  justify-content: space-evenly;
  transform: translateY(0);
}
.banner_1 .banner-footer ul li button {
  color: #fff;
  font-size: 14px;
  font-family: lightFont;
  border-radius: 0;
  padding: 5px 30px;
}
.banner_1 .banner-footer ul li button.btn-warning {
  background-color: #b07c2c;
  border-color: #b07c2c;
}
.banner_1 .banner-footer ul li button.btn-secondary {
  background-color: #000;
  border-color: #000;
}
/* end banner_1 */

/* start counter */
.counter {
  margin: 30px 0;
}
.counter h2 {
  color: #003da6;
  font-size: 30px;
  font-family: bruumBold;
  margin: 5px;
}
.counter img {
  margin: 10px auto;
  width: 30px;
}
.counter i {
  font-size: 22px;
  color: #888686;
}
.counter p {
  color: #888686;
}
/* end counter */

/* start banner_2 */
.banner .banner-description h3 {
  font-size: 50px;
  margin-top: 45%;
  font-family: bruumBold;
  color: #1b75ba;
  line-height: 58px;
  margin-bottom: 20px;
}
.banner .banner-description p{
  font-family:bruumRegular;
}
.banner_3 .banner-description button.primary {
  background-color: #1b75ba !important;
  border-radius: 0 !important;
}
.banner_2 {
  position: relative;
  background-image: url(./../images/new/Youth_site_img_1-04.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
  /* border-top: 10px solid #1b75ba;
    border-bottom: 10px solid #1b75ba; */
}
.banner_2 .banner-description h3 {
  margin-top: 45%;
  font-size: 50px;
  line-height: 58px;
  font-family: boldFont;
}
.banner_2 .banner-description hr {
  color: #a87b22;
  width: 100%;
  display: inline-flex;
  border-width: 2px;
  opacity: 1;
}
.banner_2 .banner-description p {
  color: #000;
  font-size: 20px;
  margin-top: 0px;
}
.banner_2 .banner-description p a {
  text-decoration: none;
  color: #a87b22;
}
/* end banner_2 */
.header h2 {
  margin: 30px 0;
  font-family: bruumBold;
  color: #000;
  font-size: 38px;
}
.header p {
  margin:40px 0;
  font-family: mediumFont;
  font-size: 20px;
}

/* start banner_3 */
.banner_3 {
  position: relative;
  background-image: url(./../images/new/Youth_site_img_2-04.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
}
/* .banner-description h3{
    font-size: 30px;
    margin-top: 20%;
    font-family: boldFont;
    color: #1974bb;
} */
.banner-description .hr {
  width: 94%;
  border-bottom: 2px solid #a87b22;
  margin-top: 20px;
  margin-bottom: 20px;
}
.banner-description p {
  color: #000;
  font-size: 20px;
  /* font-family: acuminMediumFont; */
  margin-top: 0px;
}
.banner-description button {
  /* font-family: lightFont; */
  border-radius: 5px;
  margin-top: 3%;
}
/* end banner_3 */

/* start banner_4 */
.banner_4 {
  position: relative;
  background-image: url(./../images/new/Youth_site_img_3-04.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
  margin-bottom: 20px;
}
.bannerRight .hr {
  margin-left: auto;
}
/* end banner_4 */

/* start banner_5 */
.banner_5 {
  position: relative;
  background-image: url(./../images/new/Youth_site_img_4-04.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
  margin-bottom: 20px;
}
/* end banner_5 */

/* start banner_6 */
.banner_6 {
  position: relative;
  background-image: url(./../images/new/BOD_Awards_VIP_image_5-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
  margin-bottom: 20px;
}
.banner_8 {
  position: relative;
  background-image: url(./../images/new/BOD_Awards_VIP_image_6-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
  margin-bottom: 20px;
}
.banner_9 {
  position: relative;
  background-image: url(./../images/new/BOD_Awards_VIP_image_7-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
  margin-bottom: 20px;
}
/* end banner_6 */

/* start banner_7 */
.banner_7 {
  position: relative;
  background-image: url(./../images/new/BOD_Awards_VIP_image_8-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
  margin-bottom: 40px;
}

/* end banner_7 */

.categories img {
  margin-bottom: 25px;
}

/* start footer */
footer {
  padding: 50px 0 0;
  background-color: rgba(240, 240, 241, 255);
  margin-top: 30px;
}
footer .logo {
  text-align: center;
}
footer .logo span {
  font-family: boldFont;
}
footer h5 {
  font-family: bruumBold;
  color: #754c24;
  font-size: 18px;
}
footer form button.btn {
  display: flex;
  padding: 5px 10px;
}
footer .btn{
  background-color: #1a71b3;
  color: #fff;
}
footer .links span a {
  color: #000;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}
footer .links span:hover {
  color: #8f631c;
  font-weight: 700;
}
footer .subscribe-label {
  color: #754c24;
  font-size: 17px;
  font-weight: bold;
}
footer p.footr {
  font-size: 14px;
  color: #333;
  font-family: bruumRegular;
  margin-top: 20px;
  margin-bottom: 30px;
}
footer .copy-right {
  background-color: #000;
  color: #fff;
}
footer .copy-right p {
  font-size: 15px;
  margin: auto;
  padding: 15px 0;
  text-align: center;
}
footer form input,
footer form .btn,
footer .icon-download img {
  height: 35px;
}
footer .icon-download img {
  height: 43px;
}
footer form .btn {
  font-size: 15px;
}
/* end footer */

/* start home sreen */

/* start media query */
@media only screen and (max-width: 1284px) {
  .banner_1 .banner-footer ul {
    transform: translateY(10px);
  }
  .banner_1 .banner-footer p {
    font-size: 13px;
  }
}
@media only screen and (max-width: 1109px) {
  .counter-top .btns {
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .banner_2 .banner-description h3 {
    font-size: 20px;
  }
  .banner_2 .banner-description p {
    font-size: 15px;
  }
  .banner-description h3 {
    font-size: 20px !important;
  }
  .banner-description p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 842px) and (min-width: 768px) {
  .counter-top button.btn {
    font-size: 11px;
  }
  .counter h2 {
    font-size: 26px;
  }
  .counter-top p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  header .nav1 {
    padding: 15px 0;
  }
  header .right-part {
    position: relative;
    width: 100%;
    top: auto;
  }
  header .left-part {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  header .left-part img {
    margin-right: 10px;
  }
  header .right-part ul.lists li:not(:last-child)::after {
    display: none;
  }
  header .right-part ul.lists {
    text-align: left;
  }
  .counter-top button.btn {
    width: 100%;
    margin: 10px auto;
  }
  .banner_1 {
    margin-top: 20%;
    position: relative;
  }
  .banner {
    height: 480px !important;
  }
  .banner .over {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.8;
    z-index: 99;
  }
  .banner br {
    display: none;
  }
  .banner hr {
    width: 50%;
    margin: auto;
  }
  .banner .banner-description h3 {
    text-align: center;
  }
  .banner .banner-description p {
    text-align: center;
  }
  .banner .banner-description button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 25px auto;
  }
  .banner_1 .banner-description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
  }
  .banner_1 .banner-footer {
    bottom: 10px;
    min-height: 80px;
  }
  .banner-footer ul li {
    width: 35%;
    display: grid;
    margin-bottom: 15px;
  }
  .banner_2 .banner-description h3 {
    font-size: 20px;
    text-align: center;
  }
  .banner .banner-description h3 {
    font-size: 20px;
  }
  .banner .banner-description p {
    font-size: 15px;
    text-align: center;
    color: #b5b5b5;
  }
  .banner_2 .banner-description hr {
    width: 50%;
    display: flex;
    margin: auto;
  }
  .header h2 {
    font-size: 20px;
  }

  .banner .banner-description hr {
    margin: 10px auto !important;
  }
  .banner_4 .banner-description hr,
  .banner_7 .banner-description hr {
    display: flex;
    margin: 10px auto;
  }
  /* .banner_3 .banner-description hr {
       margin-left: 0;
        width: 50%;
    } */
  .header p {
    font-size: 17px;
  }
  .banner_6 .banner-description {
    text-align: center;
  }
  .banner_6 .banner-description h3 {
    margin-top: 20%;
  }
  .banner_6 .banner-description hr {
    width: 100%;
  }
  /* .banner_6 .banner-description hr{
        margin: auto;
    } */
  .banner_7 .banner-description h3 {
    font-size: 30px;
    margin-top: 40%;
  }
  .categories .cat {
    display: flex;
    justify-content: center;
  }

  footer .logo {
    margin-bottom: 20px;
  }
  footer .icon-download,
  footer .social {
    justify-content: center;
    margin: 5px 0;
  }
  footer form button.btn {
    display: flex;
    padding: 5px 10px;
  }
}
@media only screen and (max-width: 575px) {
  .banner {
    height: 440px !important;
  }
  .banner .banner-description {
    width: 95%;
    margin: 10px auto;
  }
  .banner .banner-description h3 {
    margin-top: 5%;
  }
  header .left-part {
    width: 85%;
  }
  .counter-top {
    padding: 10px;
  }
  .counter-top p {
    font-size: 13px;
  }
  .counter-top .btns {
    margin-top: 15px;
  }
  .counter-top .btns .btn {
    width: 100%;
    margin-top: 5px;
    font-size: 12px;
  }
  .banner_1 {
    margin-top: 45%;
  }
  .banner_1 .banner-footer p {
    transform: translateY(25%);
    font-size: 14px;
    text-align: center;
  }
  .banner_1 .banner h3,
  .banner_1 .banner-description h4 {
    font-size: 20px;
  }
  .header p {
    font-size: 16px;
  }
  .banner_3 .banner-description {
    text-align: center;
  }
  .banner_4 .banner-description {
    text-align: center;
  }
  .banner_5 .banner-description {
    text-align: center;
  }
  .banner_7 .banner-description {
    text-align: center;
  }
  .banner_7 .banner-description h3 {
    font-size: 20px;
  }
  .categories img {
    margin-bottom: 10px;
  }
  footer h5 {
    font-size: 15px;
  }
  footer .links span {
    font-size: 13px;
  }
  footer .copy-right p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 375px) {
  .banner .banner-description button {
    font-size: 13px;
  }
  .banner_1 {
    margin-top: 48%;
  }
  .banner_3 .banner-description {
    text-align: center;
  }
  .banner_3 .banner-description hr {
    margin: auto;
  }
}
/* end media query */
